@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik+Gemstones&display=swap");

//fonts
$poppins: "Poppins", sans-serif;
$Rubik: "Rubik Gemstones", cursive;
//color
$primary-color: linear-gradient(
  262deg,
  rgba(20, 210, 255, 1) 0%,
  rgba(49, 126, 182, 1) 43%,
  rgba(13, 110, 253, 1) 100%
);
$light: #fff;
$dark: #000;
